@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#tele {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 625px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 264px;
    height: 468px;
}

section#RS {
    text-align: right;
}

section#RS img {
    width: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
}

section#RS img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 10px black;
    transition: transform .2s;
}